* { box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(218, 26, 26);
    color: yellow;
}

.fondo{
    background-image: url(../assets/1.1.jpg);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}


.pacmamotion{
    position: relative;
    animation: pacman 15s infinite;
}


.flex{
    display: flex;
    justify-content:stretch;
 }


 audio{
    width: 100px;
    box-shadow: 5px 5px 20px yellow;
    border-radius: 90px;
    transform: scale(1.05);
 }

@keyframes pacman {
    0%          {top: 65px; left: 0px; rotate: 0deg;}
    5%          {top: 65px; left: 240px; rotate: 0deg;}
    8%          {rotate: 90deg;}
    10%         {top: 210px; left: 240px; rotate: 0deg;}
    20%         {top: 210px; left: 780px; rotate: 0deg;}
    22%, 25%    {rotate: 90deg;}
    26%         {top: 320px; left: 780px; }
    27%, 30%    {rotate:360deg;}
    38%         {top: 330px; left: 880px;}
    40%          {rotate: 40deg;}
    45%         {top: 450px;} 
}

/*pantallaPequeña*/

@media screen and (min-width:992px) and (max-width: 1200px) {
    body{
        background-color: rgb(15, 218, 76);
    }
    .fondo{
        background-image: url(../assets/1.1.jpg);
        height: 100vh;
        background-size: 100%;
        background-repeat: no-repeat;}

    img{width: 20px;}
        @keyframes pacman {
            0%          {top: 45px; left: 0px; rotate: 0deg;}
            5%          {top: 45px; left: 280px; rotate: 0deg;}
            8%          {rotate: 90deg;}
            10%         {top: 130px; left: 280px; rotate: 0deg;}
            20%         {top: 130px; left: 1150px; rotate: 0deg;}
            22%, 25%    {rotate: -90deg;}
            26%         {top: 45px; left: 1150px; }
            27%, 30%    {rotate:0deg;}
            38%         {top: 45px; left: 900px;}
            40%         {rotate: -270deg;}
            45%         {top: 130px; left: 900px;} 
            50%         {rotate: 0deg;}
            55%         {top: 130px; left: 690px;}
            60%         {rotate: 90deg;}
            65%         {top: 200px; left: 690px;}
            70%         {top: 200px; left: 630px;}
            75%         {top:280px; left: 630px;}
            80%         {top:280px; left:590px;}
            85%         {top: 320px; left: 590px;}
            100%        {top: 320px; left: 590px;}
          
            
           
           
           
            
           
    }}



        
/*mediaquiaries Pantallamediana*/

@media screen and (min-width:576px) and (max-width: 768px) {
     body{
        margin: 0;
        padding: 0;
        background-color: rgb(43, 0, 199);
        color: yellow;}
        .fondo{
            background-image: url(../assets/1.1.jpg);
            height: 100vh;
            background-size: 100%;
            background-repeat: no-repeat;}
    
        img{width: 15px;}
            @keyframes pacman {
                0%          {top: 20px; left: 0px; rotate: 0deg;}
                5%          {top: 25px; left: 95px; rotate: 0deg;}
                8%          {rotate: 90deg;}
                10%         {top: 80px; left: 95px; rotate: 0deg;}
                15%         {top: 80px; left: 315px; rotate: 0deg;}
                22%, 25%    {rotate: 90deg;}
                26%         {top: 130px; left: 315px; }
                27%, 30%    {rotate:360deg;}
                33%         {top: 130px; left: 350px;}
                40%         {rotate: 40deg;}
                45%         {top: 170px; left:350px ;}
                50%         {top: 170px; left: 380px;}
                55%         {top: 210px; left: 380px;}
                100%        {top: 210px; left: 380px;}
            }}
    