* { box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: yellow;
}

.fondo{
    background-image: url(../assets/1.1.jpg);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;

}

.pacmamotion{
    position: relative;
    animation: pacman 15s infinite;
}
@keyframes pacman {
    0%          {top: 25px; left: 0px; rotate: 0deg;}
    5%          {top: 50px; left: 155px; rotate: 0deg;}
    8%          {rotate: 90deg;}
    10%         {top: 140px; left: 155px; rotate: 0deg;}
    20%         {top: 140px; left: 510px; rotate: 0deg;}
    22%, 25%    {rotate: 90deg;}
    26%         {top: 210px; }
    27%, 30%    {rotate: 360deg;}
    45%         {top: 210px; left: 570px;}
    50%        {top: 300PX; left: 570PX;}

 }

 .flex{
    display: flex;
    justify-content:stretch;
 }
 

